src/test.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions name="CurrencyConverter"
                  targetNamespace="CurrencyConverter"
                  xmlns:tns="CurrencyConverter"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

    <xsd:documentation></xsd:documentation>

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="CurrencyConverter">
            <xsd:simpleType name="currency">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="EUR"/>
                    <xsd:enumeration value="USD"/>
                    <xsd:enumeration value="JPY"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="convertCurrencyRequest">
        <wsdl:part name="sourceCurrency" type="tns:currency"></wsdl:part>
        <wsdl:part name="targetCurrency" type="tns:currency"></wsdl:part>
        <wsdl:part name="value" type="xsd:decimal"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="convertCurrencyResponse">
        <wsdl:part name="value" type="xsd:decimal"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="credentials">
        <wsdl:part name="parameters" type="xsd:decimal"></wsdl:part>
    </wsdl:message>

    <wsdl:portType name="CurrencyConverter">
        <wsdl:operation name="convertCurrency">
            <wsdl:input message="tns:convertCurrencyRequest"/>
            <wsdl:output message="tns:convertCurrencyResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="CurrencyConverter" type="tns:CurrencyConverter">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="convertCurrency">
            <soap:operation soapAction="http://localhost:8080/server.php"/>
            <wsdl:input>
                <soap:body use="literal" namespace="CurrencyConverter"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="CurrencyConverter"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="CurrencyConverter">
        <wsdl:port binding="tns:CurrencyConverter" name="CurrencyConverter">
            <soap:address location="http://localhost:8080/server.php"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>